/JSF-ANT/nbproject/private/
/BolsaTrabajoV7_JSF/target/
/BolsaTrabajoV8_JSF/target/
/BolsaTrabajoV9_JSF/target/
/HolaMundoJavaEE/target/
/HolaMundoEJB/target/
/sga-jee/target/
/sga-jee-web/target/
/HolaMundoJPA/target/
/TESTER/target/
/sga-jee-web-jpa4/target/
/sga_sga-jee-criteriaQuery/target/
/sga-jee-web-transacciones/target/
/sga_sga-jee-jsf/target/
/sumaws/target/
/ClienteSumaWS/target/
/Testeador/target/
/test_gyt/target/
/test_gyt/nbproject/
/Hibernate/Leccion01/HibernateEjemplo1/target/
/Hibernate/Leccion02/HibernateEjemplo2/target/
/Hibernate/Leccion03/PersonasWebHibernateJPA/target/
/Hibernate/Leccion04/SgaWebHibernateJPA/target/
/Hibernate/Leccion05/SgaWebHibernateJPA/target/
/personas-backend-java/target/
/personas-backend-java (no sirve)/target/
/AndreaPerez/target/
/IsraelSocum/target/
