<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AplicationPropertiesDB" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.tesis.model.entity.TesisCulture</class>
    <class>com.tesis.model.entity.TesisMasters</class>
    <class>com.tesis.model.entity.TesisSystemImage</class>
    <class>com.tesis.model.entity.TesisUser</class>
    <class>com.tesis.model.entity.TesisUserCampus</class>
    <class>com.tesis.model.entity.TesisInfrastructure</class>
    <class>com.tesis.model.entity.TesisPlans</class>
    <class>com.tesis.model.entity.TesisCampus</class>
    <class>com.tesis.model.entity.TesisSystemDocument</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/tesis2014"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.password" value="admin"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.schema-generation-target" value="database"/>
      <property name="eclipselink.deploy-on-startup" value="true"/>
      <property name="eclipselink.logging.exceptions" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
