<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AlmacenarCuentas</servlet-name>
        <servlet-class>controladores.AlmacenarCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlmacenarSucursal</servlet-name>
        <servlet-class>controladores.AlmacenarSucursal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoCuentas</servlet-name>
        <servlet-class>controladores.ListadoCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejoDatos</servlet-name>
        <servlet-class>controladores.ManejoDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>controladores.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genSesion</servlet-name>
        <servlet-class>controladores.genSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletApalancamientoExterno</servlet-name>
        <servlet-class>ControladoresRatios.ServletApalancamientoExterno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutonomia</servlet-name>
        <servlet-class>ControladoresRatios.ServletAutonomia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEndeudamiento</servlet-name>
        <servlet-class>ControladoresRatios.ServletEndeudamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEndeudamientoCorto</servlet-name>
        <servlet-class>ControladoresRatios.ServletEndeudamientoCorto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEndeudamientoLargo</servlet-name>
        <servlet-class>ControladoresRatios.ServletEndeudamientoLargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlmacenarCuentas</servlet-name>
        <url-pattern>/AlmacenarCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlmacenarSucursal</servlet-name>
        <url-pattern>/AlmacenarSucursal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoCuentas</servlet-name>
        <url-pattern>/ListadoCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejoDatos</servlet-name>
        <url-pattern>/ManejoDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genSesion</servlet-name>
        <url-pattern>/genSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletApalancamientoExterno</servlet-name>
        <url-pattern>/ServletApalancamientoExterno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutonomia</servlet-name>
        <url-pattern>/ServletAutonomia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEndeudamiento</servlet-name>
        <url-pattern>/ServletEndeudamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEndeudamientoCorto</servlet-name>
        <url-pattern>/ServletEndeudamientoCorto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEndeudamientoLargo</servlet-name>
        <url-pattern>/ServletEndeudamientoLargo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
